body {
  display: flex;
  justify-content: space-around;
  background-color: #224400;
}

.game-rules-container {
  /*position: relative;*/
  color: #115511;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.hidden {
  display: none;
}

#you-lose {
  color: #115511;
  /*position: absolute;*/
  z-index: 100;
  text-align: center;
  /*left: 174%;*/
}

#you-win {
  color: #115511;
  /*position: absolute;*/
  z-index: 100;
  text-align: center;
  /*left: 174%;*/
}
#start-game {
  color: #115511;
  /*position: absolute;*/
  z-index: 100;
  text-align: center;
  /*left: 174%;*/
}
